<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/perficient?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">!QAZXSW@1qazxsw2</property>
    <mapping resource="com/perficient/pimentomvc/Benefit.hbm.xml"/>
    <mapping resource="com/perficient/pimentomvc/Groups.hbm.xml"/>
    <mapping resource="com/perficient/pimentomvc/GroupBenefit.hbm.xml"/>
    <mapping resource="com/perficient/pimentomvc/Broker.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
